.client-info-container {
  text-align: left;
}

.client-info-title {
  text-align: left;
}

.client-info {
  width: 75%;
}

.sale-mode {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.form-check {
  align-self: center;
  font-size: 1.2em;
}
