@import './partials//variables';


.invoice-container {
<<<<<<< HEAD
  background-color: white;
  color: black;
  font-family: Calibri, 'Trebuchet MS', sans-serif; 
  font-size: 5pt;
  margin-left: 10pt;
  margin-top: 9pt;
  letter-spacing: .2pt;
  width: 322pt; 
}

.separator {
  padding-top: 5pt;
  height: 2pt;
  line-height: 0pt;
=======
  /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
  color: $text-color;
  width: 430px; 
  margin-left: 14px;
  margin-top: 12px;
  // margin-bottom: 8px;
  font-size: 6px;
}

.separator {
  text-align: left;
  height: 1px;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.text-left {
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
  text-align: left;
}

// .text-left {
//   text-align: left;
// }

// .text-center {
//   text-align: center;
// }

// .text-right {
//   text-align: right;
// }

.invoice-header {
  display: flex;
  flex-direction: row;
}

.left-header {
  flex: 1 1 75%;
<<<<<<< HEAD
  margin-right: 5pt;
=======
  margin-right: 5px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
  text-align: left;
}

.right-header {
  flex: 1 25%;
}

.address p {
<<<<<<< HEAD
  padding: 0;
  margin: 0;
  text-align: center;
}

.client-data {
  border: thin solid black;
  border-radius: 3pt;
=======
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.client-data {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
  display: flex;
  flex-direction: column;
  margin-top: 5pt;
  padding: 2pt;
}

.row-client {
  display: flex;
  flex-direction: row;
  padding: 3pt 0;
}

.to-fill {
  border-bottom: thin solid black;
  flex: 1 1 20%;
<<<<<<< HEAD
  font-weight: bolder;
  line-height: 2pt;
  padding: 2pt;
=======
  padding: 2px 10px;
  line-height: 2px;
  font-weight: bolder;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.row-info {
  display: flex;
  flex-direction: row;
  border: 1pt solid black;
  border-width: thin;
  margin-bottom: 1pt;
  flex: 1 1 50%;
}

.descrip-order {
  flex-direction: row;
<<<<<<< HEAD
  flex: 1 1 50%;
=======
  flex: 1 1 40%;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
  text-align: left;
  padding-left: 3pt;
}

.descrip-phones {
  flex-direction: row;
<<<<<<< HEAD
  flex: 1 1 20%;
  padding-left: 3pt;
=======
  flex: 1 1 50%;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.descrip-rif, .descrip-nit {
  flex-direction: row;
  flex: 1 1 5%;
  padding-left: 3pt;
}

.descrip-date {
  flex-direction: row;
  flex: 1 1 6%;
  text-align: left;
  padding-left: 3pt;
}

.to-fill-order {
  flex-direction: row;
  flex: 1 1 50%;
}

.to-fill-phones {
  flex-direction: row;
  flex: 1 1 80%;
}

.to-fill-rif, .to-fill-nit {
  flex-direction: row;
  flex: 1 1 95%;
}

.to-fill-date {
  flex-direction: row;
  flex: 1 1 94%;
}

.to-fill-order,
.to-fill-phones,
.to-fill-rif,
.to-fill-nit,
.to-fill-date {
  text-align: left;
<<<<<<< HEAD
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2pt;
=======
  text-overflow: clip;
  padding-left: 5px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.control-number-frame {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
<<<<<<< HEAD
  border: thin solid black;
  // padding: 1pt;
=======
  border: 1px solid black;
  padding: 1px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.delivery-note, .quote {
  display: flex;
  flex-direction: row;
}

.delivery-sqr, .quote-sqr {
  flex: 1 1 10%;
<<<<<<< HEAD
  border: thin solid black;
  margin: 2pt;
  // height: 7pt;
  width: 5pt;
  line-height: 10.56pt;
=======
  border: 1px solid black;
  margin: 1.6px;
  height: 10px;
  width: 10px;
  line-height: 10.56px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.isSelected {
  background-color: black;
}

.delivery-descrip, .quote-descrip {
  flex: 1 1 90%;
  margin: 0.1;
  text-align: left;
  line-height: 11.5pt;
}

.control-number-counter {
  padding: 1pt;
}
.centered {
  display: flex;
  justify-content: center;  
  border-bottom: 15px;
}

.control-number-descrip {
  text-align: right;
  margin-right: 2pt;
  font-weight: bolder;
}

.control-number-code {
  text-align: left;
  margin-left: 2pt;
  font-weight: bolder;
  color: red;
}

.invoiced-products-for-sale-table {
  width: 100%;
  margin-top: 2pt;
  border-right: thin solid black;
  border-bottom: thin solid black;
}

.invoiced-products-for-sale-table td:first-child {
  width: 15pt;
}
.invoiced-products-for-sale-table td:nth-child(2) {
  width: 30pt;
}
.invoiced-products-for-sale-table td:nth-child(4) {
  width: 40pt;
}
.invoiced-products-for-sale-table td:nth-child(5) {
  width: 50pt;
}
.invoiced-products-for-sale-table td:last-child {
  width: 50pt;
}

.invoiced-products-for-sale-table thead tr th,
.invoiced-products-for-sale-table tbody tr td {
  padding: 0 5pt;
  padding-bottom: 1pt;
  border-left: thin solid black;
  border-top: thin solid black;
}

.invoice-footer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 2pt;
}

.left-invoice-signature, .right-invoice-signature {
  flex: 1 1 28%;
<<<<<<< HEAD
  margin-right: 2pt;
  border-bottom: thin solid black;
=======
  margin-right: 5px;
  border-bottom: 1px solid black;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.row-sign {
  display: flex;
  flex-direction: row;
}

.descrip-sign {
<<<<<<< HEAD
  flex: 1 1 50%;;
  text-align: left;
  border-top: thin solid black;
  border-left: thin solid black;
  padding: 0pt 3pt;
=======
  flex: 1 1 33%;;
  text-align: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 0px 3px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
}

.to-fill-sign {
  flex: 1 1 48%;
  border-top: thin solid black;
  border-left: thin solid black;
  border-right: thin solid black;
}

.invoive-summary {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.gral-total {
  border-bottom: thin solid black;
}


.row-summ {
  display: flex;
  flex-direction: row;
}

.descrip-summ {
  flex: 1 1 30%;
  font-weight: bolder;
<<<<<<< HEAD
  padding: 0pt 3pt;
=======
  padding: 0px 12px;
>>>>>>> a3a144f0332a50f882358e3550b1ec6314003fa2
  text-align: right;
}

.to-fill-summ {
  flex: 1 1 22%;
  border-left: thin solid black;
  border-top: thin solid black;
  border-right: thin solid black;
  font-weight: bolder;
  padding: 0pt 10pt;
  text-align: right;
}