html, body {
  font-size: 12px;
  width: 100vw;
}

.navbar-app {
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

#navbarSupportedContent{
  z-index: 999;
}

.web-item {
  position: relative;
  top: 7px;
}

.navbar-toggler {
  position: fixed;
  right: 10px;
  top: 10px;
}

.navbar-logo {
  padding: 10px;
  flex: 0 1 15%;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.75);
  top: 140%;
  left: -40%;
}

.dropdown-item {
  font-size: 1.5rem;
  text-align: center;
  color: #f2bd15 !important;
  border-bottom: 2px solid transparent;

  &:hover {
    background-color: transparent;
      // border-bottom: 2px solid #f2bd15;
      transition: 0.5s;
  }
}

.navbar-item, .dropdown-toggle {
  font-size: 1.33rem;
  text-align: center;
  color: #f2bd15 !important;
  border-bottom: 2px solid transparent;
  margin: 0px 20px;

  &:hover {
    background-color: transparent;
    border-bottom: 2px solid #f2bd15;
    transition: 0.5s;
  }
}

.navbar-user-name {
  margin: 0px 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 3rem;
  color: #f2bd15;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-buttons {
  flex: 0 1 30%;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-buttons .btn{
  width: 130px;
  color: #f2bd15;
  font-size: 1.3rem;
  border: 1px solid #f2bd15;
  border-radius: 6px;
  text-align: center;
  margin: 0px 12px;
}

.navbar-buttons .btn:hover{
  color: #000;
  background-color: #f2bd15;
}

.navbar-buttons .btn:focus{
  box-shadow: none;
}

.navbar-nav {
  flex: 0 1 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.nav-link:focus {
  border: 1px solid rgba(242, 190, 21, 0.25);
  border-radius: 5px;
}

@media screen and (max-width: 1435px) {

  .navbar-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 1205px) {

  .navbar-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

}

@media screen and (max-width: 1165px) {

  .navbar-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 950px) {

  .navbar-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 775px) {

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 250px) {

  .navbar-item, .wweb-item {
    font-size: 1.3rem;
  }

  .navbar-logo img {
    padding: 0px;
    height: 40px;
  }

}

@media screen and (max-width: 200px) {

  .navbar-item, .wweb-item {
    font-size: 1rem;
  }

  .navbar-logo img {
      
    padding: 0px;
    height: 20px;
  }

}