
.table-container {
    padding: 5px;
    border: 1.5px solid hsla(0, 0%, 0%, 0.192);
    width: 800px;
}

.input-search-code {
    width: 15vw;
}


.found-products-table{
    padding: 0px;
    cursor: pointer;
    width: 15vw;
    border: 1px solid grey;
    border-collapse: collapse;
    
    &tr {
        border: 1px solid grey;
        
        &td {
            border: 1px solid grey;
            padding: 5px 20px;           
        }
    }

    
}

.info-product-table {
    width:100%;
    
    & thead tr th {
        text-align: center;
        background-color: #f2bd15;
        border: 1px solid rgba(0, 0, 0, 0.75);
    }
    
    & tbody tr td{
        border: 1px solid rgba(0, 0, 0, 0.75);;
        background-color: rgba(128, 128, 128, 0.15);
        padding-left: 10px;
    }
}


@media screen and (max-width: 575px){
    .input-search-code {
        width: 100vw;        
    }
}