@import './partials//variables';

.container {
  justify-content: center;
}

.table-container {
  padding: 5px;
  border: 1.5px solid $tbl-border;
  width: 800px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search-code,
.search-customer {
  text-align: left;
  width: $inputs-width-big-screen !important;
}

.search-customer {
  margin-right: 50px;
}

.input-customer-span-text {
  width: 100px !important;
}

.input-code-span-text {
  width: 100px !important;
}

.input-group {
  margin-bottom: 0px;
}

.title-frame {
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: bold;
}

.content-22 {
  position: absolute;
  bottom: 892pt;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  /* background: green; */
}

.products-for-sale-container,
.list-product-found-container {
  display: flex;
  justify-content: flex-start;
}

.list-products-found-title {
  text-align: left;
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portrait-table {
  tr th {
    text-align: center;
    background-color: $bg-tbl-header;
    border: 1px solid $tbl-border;
    border-collapse: collapse;
    padding: 0 10px;
    margin-right: 10px;
  }

  tr td {
    border: 1px solid $tbl-border;
    background-color: $bg-tbl-td-cell;
    padding: 0 10px;
  }
}

@media screen and (max-width: 775px) {
  .container {
    width: 90%;
    justify-content: left;
    margin: 10px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-code,
  .search-customer {
    margin-top: 20px;
    max-width: $inputs-width-litle-screen !important;
  }

  .search-customer {
    margin-right: 0;
  }
}
