@import './partials//variables';

.search-client {
  width: $inputs-width;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.search-client-title {
  text-align: left;
}

.input-client-span-text {
  width: 150px !important;
}