@import '../../../assets/css/partials/variables.scss';

.--frame-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 2em;
  padding-left: 1.5em;
  height: 5rem;
  align-items: center;
  color: white;
  background-color: $bg-navbar;
  // background-image: url('../../../assets/images/frame-header.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  label {
    display: block;
    flex: 0 0 80%;
    font-weight: bold;
    border-bottom: 1px solid $primary;
  }
  img {
    content: url('../../../assets/images/logo.png');
    margin-right: 1em;
    height: 2em;
  }
}

.--frame-body {
  padding: 0 0.66em;
}

.--row-form__one,
.--row-form__three {
  display: flex;
  margin: 0.33rem 0;
  flex-direction: row;
  align-content: space-between;
}

.--customer-code__container {
  flex: 1 0 20%;
}
.--customer-name__container {
  flex: 1 0 80%;
}

.--customer-email__container {
  flex: 1 0 40%;
}

.--customer-phone__container {
  flex: 1 0 60%;
}

.--form-footer {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0.5rem 0.25rem 0.5rem;
}

.--form-footer button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;

  outline: rgba(80, 160, 80, 0.8);
}
