@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.body{
    position: static;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(6px);
}

.login-img{
    background-image: url('https://cdn.pixabay.com/photo/2017/12/11/20/06/spanner-3013135_960_720.jpg');
}

.register-img{
    background-image: url('https://cdn.pixabay.com/photo/2016/10/06/19/57/engine-1719889_960_720.jpg');
}

.login{
    font-family: 'Numans', sans-serif;
    position: absolute;
    top: 0;
    height: 350px;
    width: 350px;
    margin-top: 25vh;
    background-color: rgba(0,0,0,0.5) !important;
}

.register{
    font-family: 'Numans', sans-serif;
    position: absolute;
    top: 0;
    height: 390px;
    width: 350px;
    margin-top: 25vh;
    background-color: rgba(0,0,0,0.5) !important;
}

.forgot{
    font-family: 'Numans', sans-serif;
    position: absolute;
    top: 0;
    height: 170px;
    width: 500px;
    margin-top: 25vh;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    font-family: 'Play', sans-serif;
    color: white;
    font-size: 30px;
}

.card-footer{
    font-size: 14px;
}

.btn-submit{
    margin: 0px;
}


.social_icon span{
    font-size: 30px;
    margin-left: 10px;
    color: #FFC312;
    transition: 0.3s;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
    font-size: 14px;
}

.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.submit-btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    transition: 0.3s;
}

.submit-btn:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
}

.links{
    color: white;
}

.links a{
    color: #FFC312;
    margin-left: 4px;
    text-decoration: none;
}

.links a:hover{
    color: #e4ae0cc1;
}

.close {
    margin: 8px;
    border-radius: 100%;
}

.close:focus {
    outline: none;
}