

.login-form, .register-form{
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding:2%;
    border: 1px solid rgb(190, 190, 190, 0.5);
    width: 40vh;
    top: 10px;
    right: 10%;
}

.login-form, .register-form h3{
    text-align: center;
    color: #fff;
}

.goto-right {
    cursor: pointer;
    text-align: right;
}

.btnSubmit{
    width: 55%;
    border-radius: 0.75rem;
    cursor: pointer;
}

.register-form, .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.form-group {
    text-align: right;
}

.close {
    position: absolute;
    top: 3%;
    right: 3%;
    vertical-align: middle;
    padding: 0px;
    border-radius: 100%;
}

.close:hover {
    border-radius: 100%;
    background-color: rgb(75, 75, 75);
}
